<div class="container">
  <ul class="nav nav-pills nav-fill justify-content-center">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/vacinas']"
      routerLinkActive="active" >Vacinas</a>
    </li>
<!--   <li class="nav-item">
      <a class="nav-link" [routerLink]="['/filmes']"
      routerLinkActive="active" >Filmes</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/usuarios']"
      routerLinkActive="active" >Usuário</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>

